<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 具体配置信息在 https://mybatis.org/mybatis-3/zh/configuration.html -->
  <settings>
    <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
    <setting name="useGeneratedKeys" value="true" />
    <!-- 使全局的映射器启用或禁用缓存。 -->
    <setting name="cacheEnabled" value="false" />
    <!-- 使用驼峰命名法转换字段。 -->
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <!-- 打印查询语句 -->
    <setting name="logImpl" value="SLF4J" />
  </settings>
</configuration>
